# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

server/*.db
server/backup_20260905/




# 数据库文件
*.db
*.sqlite
*.sqlite3

# Node.js
node_modules/
npm-debug.log*

# 环境变量
.env
.env.local

# 系统文件
.DS_Store
Thumbs.db

# 构建产物
build/
dist/



# Dependencies
node_modules
.pnp
.pnp.js
.venv/
env/
venv/
vendor/
zz/
build11/
playlists_config.json

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.key

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist
dist/
build/
out/
*.class
*.pyc
*.o

# Debug and temporary
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.tmp
Thumbs.db

# Misc
.DS_Store
*.pem

# Local settings
settings.local.json

# IDE configuration person
.idea/
.vscode/
*.swp
*.swo

# Large file
*.zip
*.tar.gz
*.7z




# ===== 只传文件夹名，不传内容 =====
A_待整理音乐/*

# 但保留文件夹本身（Git会自动保留空目录结构）(注意：.gitkeep文件要写入文件夹，且一定要在更改.gitignore文件前完成！)
!A_待整理音乐/.gitkeep

# ===== Python通用忽略 =====
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.log
.spec

# ===== 敏感信息 =====
.env
*.key
*.pem

# ===== 系统文件 =====
.DS_Store
Thumbs.db

# ===== IDE =====
.idea/
.vscode/
*.swp
*.swo

# ===== 大文件 =====
*.mp3
*.wav
*.flac
*.zip
*.rar
*.7z